accelerate==0.24.1
aiohttp @ file:///croot/aiohttp_1694181079612/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
annotated-types==0.6.0
anyio @ file:///work/ci_py311/anyio_1676823771847/work/dist
appdirs==1.4.4
appnope==0.1.3
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///work/ci_py311/argon2-cffi-bindings_1676823553406/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-generator==1.10
async-timeout @ file:///work/ci_py311/async-timeout_1676826962453/work
attrs @ file:///work/ci_py311/attrs_1676822758931/work
audioread==3.0.1
Babel @ file:///work/ci_py311/babel_1676825020543/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backports.functools-lru-cache==1.6.6
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1681493039619/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blessed==1.20.0
blis==0.7.11
Bottleneck @ file:///work/ci_py311/bottleneck_1676827011612/work
brotlipy==0.7.0
catalogue==2.0.10
certifi @ file:///croot/certifi_1690232220950/work/certifi
cffi @ file:///work/ci_py311/cffi_1676822533496/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.7
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
cloudpathlib==0.16.0
cmake==3.26.3
colorama==0.4.6
comm @ file:///work/ci_py311/comm_1677709131612/work
confection==0.1.4
contourpy==1.0.7
cryptography @ file:///work/ci_py311_2/cryptography_1679335572456/work
cycler==0.11.0
cymem==2.0.8
Cython==3.0.5
datasets @ file:///croot/datasets_1684482929171/work
debugpy @ file:///work/ci_py311/debugpy_1676824903649/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
diffusers==0.23.1
dill @ file:///work/ci_py311/dill_1676827712960/work
distro==1.8.0
entrypoints @ file:///work/ci_py311/entrypoints_1676823319002/work
exceptiongroup==1.2.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastjsonschema @ file:///work/ci_py311_2/python-fastjsonschema_1679340124475/work
filelock @ file:///work/ci_py311/filelock_1676823024085/work
flatbuffers==23.5.26
fonttools==4.39.4
frozenlist @ file:///work/ci_py311/frozenlist_1676825229010/work
fsspec @ file:///croot/fsspec_1695734500336/work
ftfy==6.1.3
future==0.18.3
gdown==4.7.1
gensim==4.3.2
gpustat==1.1
h11==0.14.0
h5py==3.10.0
html5lib==1.1
httpcore==1.0.2
httpx==0.25.2
huggingface-hub @ file:///croot/huggingface_hub_1696885858075/work
idna @ file:///work/ci_py311/idna_1676822698822/work
imageio==2.33.0
imgcat==0.5.0
importlib-metadata==6.8.0
importlib-resources==6.1.1
iniconfig==2.0.0
install==1.3.5
ipykernel @ file:///work/ci_py311/ipykernel_1677867938687/work
ipynb==0.5.1
ipython @ file:///croot/ipython_1680701871216/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///croot/ipywidgets_1679394798311/work
jedi @ file:///work/ci_py311_2/jedi_1679336495545/work
Jinja2 @ file:///work/ci_py311/jinja2_1676823587943/work
joblib==1.2.0
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema @ file:///croot/jsonschema_1678983421637/work
jupyter @ file:///work/ci_py311/jupyter_1676837039433/work
jupyter-console @ file:///croot/jupyter_console_1679999630278/work
jupyter-server @ file:///work/ci_py311/jupyter_server_1676824947163/work
jupyter_client @ file:///work/ci_py311/jupyter_client_1676823491351/work
jupyter_core @ file:///croot/jupyter_core_1679906564508/work
jupyterlab @ file:///work/ci_py311/jupyterlab_1677874017039/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///croot/jupyterlab_widgets_1679055282532/work
jupyterlab_server @ file:///croot/jupyterlab_server_1680792501448/work
keras==2.15.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
langcodes==3.3.0
lazy_loader==0.3
libclang==16.0.6
librosa==0.10.1
lit==16.0.5
llvmlite==0.41.1
lxml @ file:///croot/lxml_1679646450407/work
MarkupSafe @ file:///work/ci_py311/markupsafe_1676823507015/work
matplotlib==3.7.1
matplotlib-inline @ file:///work/ci_py311/matplotlib-inline_1676823841154/work
minexr==1.0.2
mistune @ file:///work/ci_py311/mistune_1676823698136/work
mkl-fft==1.3.6
mkl-random @ file:///work/mkl/mkl_random_1682950433854/work
mkl-service==2.4.0
mpmath==1.3.0
msgpack==1.0.7
multidict @ file:///work/ci_py311/multidict_1676825314105/work
multiprocess @ file:///work/ci_py311/multiprocess_1676841234722/work
munkres==1.1.4
murmurhash==1.0.10
nbclassic @ file:///croot/nbclassic_1681756170010/work
nbclient @ file:///work/ci_py311/nbclient_1676823713954/work
nbconvert @ file:///work/ci_py311/nbconvert_1676823854564/work
nbformat @ file:///work/ci_py311/nbformat_1676823523130/work
nest-asyncio @ file:///work/ci_py311/nest-asyncio_1676823382924/work
networkx==3.1
nltk==3.8.1
notebook @ file:///croot/notebook_1681756172480/work
notebook_shim @ file:///work/ci_py311/notebook-shim_1676825053954/work
numba==0.58.1
numexpr @ file:///croot/numexpr_1696515281613/work
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-ml-py==11.525.112
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
olefile==0.46
openai==1.3.5
opencv-python==4.7.0.72
opt-einsum==3.3.0
packaging @ file:///croot/packaging_1678965309396/work
pandas==2.0.1
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pathy==0.10.3
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.5.0
platformdirs @ file:///work/ci_py311/platformdirs_1676823055788/work
pluggy==1.3.0
ply==3.11
pooch==1.8.0
preshed==3.0.9
prometheus-client @ file:///work/ci_py311_2/prometheus_client_1679340520168/work
prompt-toolkit @ file:///work/ci_py311/prompt-toolkit_1676824857154/work
protobuf==4.25.1
psutil @ file:///work/ci_py311_2/psutil_1679337388738/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyarrow==11.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycocotools==2.0.7
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.5.2
pydantic_core==2.14.5
Pygments @ file:///croot/pygments_1684279966437/work
pyOpenSSL @ file:///croot/pyopenssl_1678965284384/work
pyparsing==3.0.9
PyQt5-sip==12.11.0
pyrsistent @ file:///work/ci_py311/pyrsistent_1676823088752/work
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
pytest==7.4.3
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///work/ci_py311/pytz_1676825004346/work
PyWavelets==1.5.0
PyYAML @ file:///work/ci_py311/pyyaml_1676827445582/work
pyzmq @ file:///work/ci_py311/pyzmq_1676918885689/work
qtconsole @ file:///croot/qtconsole_1681394213385/work
QtPy @ file:///work/ci_py311/qtpy_1676827467989/work
regex==2023.10.3
requests @ file:///croot/requests_1682607517574/work
resampy==0.4.2
responses @ file:///tmp/build/80754af9/responses_1619800270522/work
rsa==4.9
safetensors==0.4.0
scikit-image==0.22.0
scikit-learn==1.2.2
scikit-learn-extra==0.3.0
scipy==1.10.1
seaborn==0.12.2
segment-anything @ git+https://github.com/facebookresearch/segment-anything.git@6fdee8f2727f4506cfbbe553e23b895e27956588
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sentencepiece==0.1.99
sewar==0.4.6
shapely @ file:///croot/shapely_1680636282912/work
sip @ file:///work/ci_py311/sip_1676825117084/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0.post5
smart-open==6.4.0
sniffio @ file:///work/ci_py311/sniffio_1676823742530/work
soundfile==0.12.1
soupsieve @ file:///croot/soupsieve_1680518478486/work
soxr==0.3.7
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
sympy==1.12
tabulate==0.9.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.15.0
termcolor==2.3.0
terminado @ file:///work/ci_py311/terminado_1677696151350/work
testpath==0.6.0
thinc==8.2.1
threadpoolctl==3.1.0
tifffile==2023.9.26
tinycss2 @ file:///work/ci_py311/tinycss2_1676823757641/work
tokenizers==0.15.0
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///work/ci_py311/tomli_1676822660974/work
torch==2.0.1
torchinfo==1.8.0
torchvision==0.15.2
tornado @ file:///work/ci_py311/tornado_1676823418767/work
tqdm @ file:///croot/tqdm_1679561862951/work
traitlets @ file:///work/ci_py311/traitlets_1676823305040/work
transformers==4.35.2
treelib==1.7.0
triton==2.0.0
tslearn==0.6.2
typer==0.9.0
typing_extensions==4.8.0
tzdata @ file:///croot/python-tzdata_1690578112552/work
unicodedata2==15.1.0
urllib3 @ file:///croot/urllib3_1680254681959/work
wasabi==1.1.2
wcwidth==0.2.12
weasel==0.3.4
webencodings==0.5.1
websocket-client @ file:///work/ci_py311/websocket-client_1676824890004/work
widgetsnbextension @ file:///croot/widgetsnbextension_1679313860248/work
wrapt==1.16.0
xxhash @ file:///work/ci_py311/python-xxhash_1676842384694/work
yarl @ file:///work/ci_py311/yarl_1676827604591/work
zipp==3.17.0
